<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Audio Processing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Nothing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Visual Audio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>640AAD7A18D60F6A0061E876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640AAD9B18D60F6B0061E876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64130DAD194CD1490009863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64130DC2194CD14A0009863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64130DD4194CD2AB0009863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64130DE9194CD2AB0009863E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>641335EF1943B8AA0025145A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>641336001943B8AA0025145A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643592E519529673001B7CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643592FA19529674001B7CBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643DB472194D6323005FB900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>643DB487194D6323005FB900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6447A17018F6DECC00D540C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6447A18C18F6DECC00D540C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6452B5971943B660005CECD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6452B5A81943B660005CECD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646BB6AF19063E4E00B29BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646BB6CB19063E4E00B29BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646BB6E319063F2000B29BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646BB6FF19063F2000B29BF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A8720A19254CB500B37322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A8722619254CB500B37322</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D671A919437D3B00F00DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64D671C519437D3C00F00DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F937BD19338DF2006A3CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64F937D919338DF2006A3CFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
